<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tickets</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>Status</th>
                            <th>Title</th>
                            <th>Body</th>
                            <th>Created</th>
                            <th>Author</th>
                            <th>Assignee</th>
                            </thead>
                            <tbody>
                            {{#each ticketsList}}
                            <tr>
                                <td>{{this.status}}</td>
                                <td>{{this.title}}</td>
                                <td>{{this.body}}</td>
                                <td>{{this.created}}</td>
                                <td>{{this.author}}</td>
                                <td>{{this.assignee}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
