
<nav class="navbar">
    <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    Status: <button  class="my-navbar-buttons btn-filter" id="my-search" data-target="all" >all/</button>
                </li>
                <li>
                    <button  class="my-navbar-buttons btn-filter" id="my-search" data-target="open" >open/</button>
                </li>
                <li>
                    <button  class="my-navbar-buttons btn-filter" id="my-search" data-target="closed" >closed</button>
                </li>
                <li>
                    <i class="fa fa-search" ></i>
                    <input type="text" id="mySearch" class="input-search" placeholder="Search by title.." onkeyup="filterByTitle()">
                </li>
            </ul>
    </div>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tickets</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped table-filter" id="ticketsTable">
                            <thead>
                            <th id="status"></th>
                            <th id="title">Title</th>
                            <th id="body">Body</th>
                            <th id="created">Created</th>
                            <th id="author">Author</th>
                            <th id="assignee">Assignee</th>
                            <th id="edit">Edit</th>
                            <th id="delete">Delete</th>
                            </thead>
                            <tbody id="ticket-container">
                            {{#each ticketsList}}
                            <tr data-status={{this.status}}>
                                <td>{{this.status}}</td>
                                <td>{{formatTitle title}}</td>
                                <td>{{this.body}}</td>
                                <td>{{formatDate created}}</td>
                                <td>{{this.author}}</td>
                                <td>{{this.assignee}}</td>
                                <td class="td-icons edit"><a href="/dashboard/editTicket/{{this.title}}" id={{this.title}} ><i class="pe-7s-pen"></i></a></td>
                                <td class="td-icons delete"><a method="delete" href="/dashboard/deleteTicket/{{this.title}}" id={{this.title}}><i class="pe-7s-trash"></i></a></td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
